In [317]:
import pandas as pd
# Data frame is a data structure used to represent data in tabular form
df = pd.read_csv('/home/sa.goyal/Downloads/weather_report.csv', parse_dates=['EST'])
type(df.EST[0])
df

                   EST     Fog     Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00    27 h   1010.0         0.0  0.0      5.0      West
1  1996-11-01 12:00:00      32 -99999.0         0.0  0.0      NaN     North
2  1996-11-01 13:00:00      44 -99999.0         0.0  0.0      NaN     North
3  1996-11-01 14:00:00      41   1010.0         0.0  0.0      2.0     North
4  1996-11-01 16:00:00      47   1011.0         0.0  0.0      1.2     North
5  1996-11-01 17:00:00      56   1011.0         0.0  0.0      NaN     North
6  1996-11-01 18:00:00      60   1010.0         0.0  0.0      0.8     North
7  1996-11-01 19:00:00      60 -99999.0         0.0  0.0      NaN     North
8  1996-11-01 20:00:00      68 -99999.0         0.0  0.0      NaN     North
9  1996-11-01 21:00:00      68   1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00      68   1009.0         0.0  0.0      NaN     North
11 1996-11-01 23:00:00      64   1009.0         NaN  NaN      NaN     North
12 1996-11-02 00:00:00  -99999      NaN         NaN  NaN      NaN       NaN
13 1996-11-02 01:00:00     NaN      NaN         NaN  NaN      NaN     North
14 1996-11-02 02:00:00      52   1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00      46   1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00      44   1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00      39   1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00      32   1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00      29   1010.0         0.0  0.0      7.0       WSW

In [318]:
print "max = ", df['Hail'].max()
print "min = ", df.Hail.min()
print "mean = ", df.Hail.mean()
print "standard deviation = ", df.Hail.std()

max =  1012.0
min =  -99999.0
mean =  -21436.0
standard deviation =  43211.1504224

In [322]:
df[df.Hail>1000]

                   EST   Fog    Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00  27 h  1010.0         0.0  0.0      5.0      West
3  1996-11-01 14:00:00    41  1010.0         0.0  0.0      2.0     North
4  1996-11-01 16:00:00    47  1011.0         0.0  0.0      1.2     North
5  1996-11-01 17:00:00    56  1011.0         0.0  0.0      NaN     North
6  1996-11-01 18:00:00    60  1010.0         0.0  0.0      0.8     North
9  1996-11-01 21:00:00    68  1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00    68  1009.0         0.0  0.0      NaN     North
11 1996-11-01 23:00:00    64  1009.0         NaN  NaN      NaN     North
14 1996-11-02 02:00:00    52  1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00    46  1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00    44  1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00    39  1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00    32  1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00    29  1010.0         0.0  0.0      7.0       WSW

In [320]:
df[df.Fog == df.Fog.max()]

                   EST Fog     Hail  Heatindexm  Hum  Precipm Pressurem
8  1996-11-01 20:00:00  68 -99999.0         0.0  0.0      NaN     North
9  1996-11-01 21:00:00  68   1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00  68   1009.0         0.0  0.0      NaN     North

In [64]:
df[['EST','Fog']][df.Fog>60]

               EST  Fog
8   19961101-20:00   68
9   19961101-21:00   68
10  19961101-22:00   68
11  19961101-23:00   64

In [65]:
df.describe()

             Fog         Hail  Heatindexm   Hum    Precipm
count  20.000000    20.000000        20.0  20.0  10.000000
mean   49.850000 -1191.400000         0.0   0.0   3.700000
std    13.619935  4518.203548         0.0   0.0   2.126029
min    27.000000 -9999.000000         0.0   0.0   0.800000
25%    40.500000  1009.000000         0.0   0.0   2.000000
50%    49.500000  1010.000000         0.0   0.0   4.000000
75%    60.000000  1011.000000         0.0   0.0   5.000000
max    68.000000  1012.000000         0.0   0.0   7.000000

In [46]:
df['EST'][df['Pressurem']=='SSW']

14    19961102-02:00
Name: EST, dtype: object

In [117]:
df.fillna(0)
df['Precipm'].mean()

3.7

In [48]:
row, column = df.shape
row, column

(20, 7)

In [11]:
df.head(8)

              EST  Fog  Hail  Heatindexm  Hum  Precipm Pressurem
0  19961101-11:00   27  1010           0    0      5.0      West
1  19961101-12:00   32 -9999           0    0      NaN     North
2  19961101-13:00   44 -9999           0    0      NaN     North
3  19961101-14:00   41  1010           0    0      2.0     North
4  19961101-16:00   47  1011           0    0      1.2     North
5  19961101-17:00   56  1011           0    0      NaN     North
6  19961101-18:00   60  1010           0    0      0.8     North
7  19961101-19:00   60 -9999           0    0      NaN     North

In [49]:
df.tail()

               EST  Fog  Hail  Heatindexm  Hum  Precipm Pressurem
15  19961102-03:00   46  1012           0    0      3.5       WSW
16  19961102-04:00   44  1012           0    0      4.5       WSW
17  19961102-05:00   39  1012           0    0      5.0       WSW
18  19961102-06:00   32  1011           0    0      6.0      West
19  19961102-07:00   29  1010           0    0      7.0       WSW

In [50]:
df[2:10]

              EST  Fog  Hail  Heatindexm  Hum  Precipm Pressurem
2  19961101-13:00   44 -9999           0    0      NaN     North
3  19961101-14:00   41  1010           0    0      2.0     North
4  19961101-16:00   47  1011           0    0      1.2     North
5  19961101-17:00   56  1011           0    0      NaN     North
6  19961101-18:00   60  1010           0    0      0.8     North
7  19961101-19:00   60 -9999           0    0      NaN     North
8  19961101-20:00   68 -9999           0    0      NaN     North
9  19961101-21:00   68  1010           0    0      NaN     North

In [53]:
df.columns

Index([u'EST', u'Fog', u'Hail', u'Heatindexm', u'Hum', u'Precipm',
       u'Pressurem'],
      dtype='object')

In [52]:
df.Fog # or df['Fog']

0     27
1     32
2     44
3     41
4     47
5     56
6     60
7     60
8     68
9     68
10    68
11    64
12    60
13    60
14    52
15    46
16    44
17    39
18    32
19    29
Name: Fog, dtype: int64

In [54]:
type(df.Fog)

pandas.core.series.Series

In [95]:
df[['EST','Fog']]

               EST  Fog
0   19961101-11:00   27
1   19961101-12:00   32
2   19961101-13:00   44
3   19961101-14:00   41
4   19961101-16:00   47
5   19961101-17:00   56
6   19961101-18:00   60
7   19961101-19:00   60
8   19961101-20:00   68
9   19961101-21:00   68
10  19961101-22:00   68
11  19961101-23:00   64
12  19961102-00:00   60
13  19961102-01:00   60
14  19961102-02:00   52
15  19961102-03:00   46
16  19961102-04:00   44
17  19961102-05:00   39
18  19961102-06:00   32
19  19961102-07:00   29

In [326]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [333]:
df.set_index('EST', inplace=True)

In [329]:
df.index

DatetimeIndex(['1996-11-01 11:00:00', '1996-11-01 12:00:00',
               '1996-11-01 13:00:00', '1996-11-01 14:00:00',
               '1996-11-01 16:00:00', '1996-11-01 17:00:00',
               '1996-11-01 18:00:00', '1996-11-01 19:00:00',
               '1996-11-01 20:00:00', '1996-11-01 21:00:00',
               '1996-11-01 22:00:00', '1996-11-01 23:00:00',
               '1996-11-02 00:00:00', '1996-11-02 01:00:00',
               '1996-11-02 02:00:00', '1996-11-02 03:00:00',
               '1996-11-02 04:00:00', '1996-11-02 05:00:00',
               '1996-11-02 06:00:00', '1996-11-02 07:00:00'],
              dtype='datetime64[ns]', name=u'EST', freq=None)

In [2]:
df.loc['19961102-05:00']

NameError: name 'df' is not defined

In [331]:
df.reset_index(inplace=True)

In [332]:
df

                   EST     Fog     Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00    27 h   1010.0         0.0  0.0      5.0      West
1  1996-11-01 12:00:00      32 -99999.0         0.0  0.0      NaN     North
2  1996-11-01 13:00:00      44 -99999.0         0.0  0.0      NaN     North
3  1996-11-01 14:00:00      41   1010.0         0.0  0.0      2.0     North
4  1996-11-01 16:00:00      47   1011.0         0.0  0.0      1.2     North
5  1996-11-01 17:00:00      56   1011.0         0.0  0.0      NaN     North
6  1996-11-01 18:00:00      60   1010.0         0.0  0.0      0.8     North
7  1996-11-01 19:00:00      60 -99999.0         0.0  0.0      NaN     North
8  1996-11-01 20:00:00      68 -99999.0         0.0  0.0      NaN     North
9  1996-11-01 21:00:00      68   1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00      68   1009.0         0.0  0.0      NaN     North
11 1996-11-01 23:00:00      64   1009.0         NaN  NaN      NaN     North
12 1996-11-02 00:00:00  -99999      NaN         NaN  NaN      NaN       NaN
13 1996-11-02 01:00:00     NaN      NaN         NaN  NaN      NaN     North
14 1996-11-02 02:00:00      52   1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00      46   1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00      44   1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00      39   1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00      32   1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00      29   1010.0         0.0  0.0      7.0       WSW

In [202]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL','WMT','MSFT'],
    'price': [35,55,67]
})

df_weather = pd.DataFrame({
    'day': ['11/07/2018','15/07/2018','13/07/2018'],
    'temp': [45,67,89],
    'events': ['Rain','Sunny','Snow']
})

with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

In [262]:
df.set_index('EST', inplace=True)

In [334]:
new_df = df.fillna(0)
new_df

                        Fog     Hail  Heatindexm  Hum  Precipm Pressurem
EST
1996-11-01 11:00:00    27 h   1010.0         0.0  0.0      5.0      West
1996-11-01 12:00:00      32 -99999.0         0.0  0.0      0.0     North
1996-11-01 13:00:00      44 -99999.0         0.0  0.0      0.0     North
1996-11-01 14:00:00      41   1010.0         0.0  0.0      2.0     North
1996-11-01 16:00:00      47   1011.0         0.0  0.0      1.2     North
1996-11-01 17:00:00      56   1011.0         0.0  0.0      0.0     North
1996-11-01 18:00:00      60   1010.0         0.0  0.0      0.8     North
1996-11-01 19:00:00      60 -99999.0         0.0  0.0      0.0     North
1996-11-01 20:00:00      68 -99999.0         0.0  0.0      0.0     North
1996-11-01 21:00:00      68   1010.0         0.0  0.0      0.0     North
1996-11-01 22:00:00      68   1009.0         0.0  0.0      0.0     North
1996-11-01 23:00:00      64   1009.0         0.0  0.0      0.0     North
1996-11-02 00:00:00  -99999      0.0         0.0  0.0      0.0         0
1996-11-02 01:00:00       0      0.0         0.0  0.0      0.0     North
1996-11-02 02:00:00      52   1011.0         0.0  0.0      2.0       SSW
1996-11-02 03:00:00      46   1012.0         0.0  0.0      3.5       WSW
1996-11-02 04:00:00      44   1012.0         0.0  0.0      4.5       WSW
1996-11-02 05:00:00      39   1012.0         0.0  0.0      5.0       WSW
1996-11-02 06:00:00      32   1011.0         0.0  0.0      6.0      West
1996-11-02 07:00:00      29   1010.0         0.0  0.0      7.0       WSW

In [336]:
new_df = df.fillna({
    'Hum': 0,
    'Pressurem': 'Null',
    'Heatindexm': 0,
    'Precipm': 0,
    'Fog': 0,
    'Hail': 0
})
new_df

                        Fog     Hail  Heatindexm  Hum  Precipm Pressurem
EST
1996-11-01 11:00:00    27 h   1010.0         0.0  0.0      5.0      West
1996-11-01 12:00:00      32 -99999.0         0.0  0.0      0.0     North
1996-11-01 13:00:00      44 -99999.0         0.0  0.0      0.0     North
1996-11-01 14:00:00      41   1010.0         0.0  0.0      2.0     North
1996-11-01 16:00:00      47   1011.0         0.0  0.0      1.2     North
1996-11-01 17:00:00      56   1011.0         0.0  0.0      0.0     North
1996-11-01 18:00:00      60   1010.0         0.0  0.0      0.8     North
1996-11-01 19:00:00      60 -99999.0         0.0  0.0      0.0     North
1996-11-01 20:00:00      68 -99999.0         0.0  0.0      0.0     North
1996-11-01 21:00:00      68   1010.0         0.0  0.0      0.0     North
1996-11-01 22:00:00      68   1009.0         0.0  0.0      0.0     North
1996-11-01 23:00:00      64   1009.0         0.0  0.0      0.0     North
1996-11-02 00:00:00  -99999      0.0         0.0  0.0      0.0      Null
1996-11-02 01:00:00       0      0.0         0.0  0.0      0.0     North
1996-11-02 02:00:00      52   1011.0         0.0  0.0      2.0       SSW
1996-11-02 03:00:00      46   1012.0         0.0  0.0      3.5       WSW
1996-11-02 04:00:00      44   1012.0         0.0  0.0      4.5       WSW
1996-11-02 05:00:00      39   1012.0         0.0  0.0      5.0       WSW
1996-11-02 06:00:00      32   1011.0         0.0  0.0      6.0      West
1996-11-02 07:00:00      29   1010.0         0.0  0.0      7.0       WSW

In [338]:
# method='ffill' => forward fill (carry forward previous value)
# method='bfill' => fill ahead value before

# axis='columns' => fill data horiontally
# limit=1 => fill next values only till 1 next free column

new_df = df.fillna(method='ffill')
new_df = df.interpolate(method='time')     # value somewhere between
new_df

                        Fog          Hail  Heatindexm  Hum  Precipm Pressurem
EST
1996-11-01 11:00:00    27 h   1010.000000         0.0  0.0     5.00      West
1996-11-01 12:00:00      32 -99999.000000         0.0  0.0     4.00     North
1996-11-01 13:00:00      44 -99999.000000         0.0  0.0     3.00     North
1996-11-01 14:00:00      41   1010.000000         0.0  0.0     2.00     North
1996-11-01 16:00:00      47   1011.000000         0.0  0.0     1.20     North
1996-11-01 17:00:00      56   1011.000000         0.0  0.0     1.00     North
1996-11-01 18:00:00      60   1010.000000         0.0  0.0     0.80     North
1996-11-01 19:00:00      60 -99999.000000         0.0  0.0     0.95     North
1996-11-01 20:00:00      68 -99999.000000         0.0  0.0     1.10     North
1996-11-01 21:00:00      68   1010.000000         0.0  0.0     1.25     North
1996-11-01 22:00:00      68   1009.000000         0.0  0.0     1.40     North
1996-11-01 23:00:00      64   1009.000000         0.0  0.0     1.55     North
1996-11-02 00:00:00  -99999   1009.666667         0.0  0.0     1.70       NaN
1996-11-02 01:00:00     NaN   1010.333333         0.0  0.0     1.85     North
1996-11-02 02:00:00      52   1011.000000         0.0  0.0     2.00       SSW
1996-11-02 03:00:00      46   1012.000000         0.0  0.0     3.50       WSW
1996-11-02 04:00:00      44   1012.000000         0.0  0.0     4.50       WSW
1996-11-02 05:00:00      39   1012.000000         0.0  0.0     5.00       WSW
1996-11-02 06:00:00      32   1011.000000         0.0  0.0     6.00      West
1996-11-02 07:00:00      29   1010.000000         0.0  0.0     7.00       WSW

In [269]:
#new_df = df.dropna(how='all')
new_df2 = df.dropna(thresh=2)     # requires at least that much non-Na values 
new_df2

                   EST      Fog    Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00     27.0  1010.0         0.0  0.0      5.0      West
1  1996-11-01 12:00:00     32.0 -9999.0         0.0  0.0      NaN     North
2  1996-11-01 13:00:00     44.0 -9999.0         0.0  0.0      NaN     North
3  1996-11-01 14:00:00     41.0  1010.0         0.0  0.0      2.0     North
4  1996-11-01 16:00:00     47.0  1011.0         0.0  0.0      1.2     North
5  1996-11-01 17:00:00     56.0  1011.0         0.0  0.0      NaN     North
6  1996-11-01 18:00:00     60.0  1010.0         0.0  0.0      0.8     North
7  1996-11-01 19:00:00     60.0 -9999.0         0.0  0.0      NaN     North
8  1996-11-01 20:00:00     68.0 -9999.0         0.0  0.0      NaN     North
9  1996-11-01 21:00:00     68.0  1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00     68.0  1009.0         0.0  0.0      NaN     North
11 1996-11-01 23:00:00     64.0  1009.0         NaN  NaN      NaN     North
12 1996-11-02 00:00:00 -99999.0     NaN         NaN  NaN      NaN       NaN
13 1996-11-02 01:00:00      NaN     NaN         NaN  NaN      NaN     North
14 1996-11-02 02:00:00     52.0  1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00     46.0  1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00     44.0  1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00     39.0  1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00     32.0  1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00     29.0  1010.0         0.0  0.0      7.0       WSW

In [268]:
dt = pd.date_range('1996-11-01 00:00:00','1996-11-03 00:00:00')
ind = pd.DatetimeIndex(dt)
df_2 = df.reindex(ind)
df_2

           EST  Fog  Hail  Heatindexm  Hum  Precipm Pressurem
1996-11-01 NaT  NaN   NaN         NaN  NaN      NaN       NaN
1996-11-02 NaT  NaN   NaN         NaN  NaN      NaN       NaN
1996-11-03 NaT  NaN   NaN         NaN  NaN      NaN       NaN

In [289]:
import numpy as np
np_df = df.replace({
        'Hail': -99999.0     # which one to replace with NaN, column wise
    },np.NaN)
np_df

                   EST      Fog    Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00     27.0  1010.0         0.0  0.0      5.0      West
1  1996-11-01 12:00:00     32.0 -9999.0         0.0  0.0      NaN     North
2  1996-11-01 13:00:00     44.0     NaN         0.0  0.0      NaN     North
3  1996-11-01 14:00:00     41.0  1010.0         0.0  0.0      2.0     North
4  1996-11-01 16:00:00     47.0  1011.0         0.0  0.0      1.2     North
5  1996-11-01 17:00:00     56.0  1011.0         0.0  0.0      NaN     North
6  1996-11-01 18:00:00     60.0  1010.0         0.0  0.0      0.8     North
7  1996-11-01 19:00:00     60.0     NaN         0.0  0.0      NaN     North
8  1996-11-01 20:00:00     68.0     NaN         0.0  0.0      NaN     North
9  1996-11-01 21:00:00     68.0  1010.0         0.0  NaN      NaN     North
10 1996-11-01 22:00:00     68.0  1009.0         0.0  0.0      NaN     North
11 1996-11-01 23:00:00     64.0  1009.0         NaN  NaN      NaN     North
12 1996-11-02 00:00:00 -99999.0     NaN         NaN  NaN      NaN       NaN
13 1996-11-02 01:00:00      NaN     NaN         NaN  NaN      NaN     North
14 1996-11-02 02:00:00     52.0  1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00     46.0  1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00     44.0  1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00     39.0  1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00     32.0  1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00     29.0  1010.0         0.0  0.0      7.0       WSW

In [303]:
new_df = df.replace({
    -99999.0: np.NaN,
    'North': 'No Event'
})
new_df

                   EST     Fog    Hail  Heatindexm  Hum  Precipm Pressurem
0  1996-11-01 11:00:00    27 h  1010.0         0.0  0.0      5.0      West
1  1996-11-01 12:00:00      32     NaN         0.0  0.0      NaN  No Event
2  1996-11-01 13:00:00      44     NaN         0.0  0.0      NaN  No Event
3  1996-11-01 14:00:00      41  1010.0         0.0  0.0      2.0  No Event
4  1996-11-01 16:00:00      47  1011.0         0.0  0.0      1.2  No Event
5  1996-11-01 17:00:00      56  1011.0         0.0  0.0      NaN  No Event
6  1996-11-01 18:00:00      60  1010.0         0.0  0.0      0.8  No Event
7  1996-11-01 19:00:00      60     NaN         0.0  0.0      NaN  No Event
8  1996-11-01 20:00:00      68     NaN         0.0  0.0      NaN  No Event
9  1996-11-01 21:00:00      68  1010.0         0.0  NaN      NaN  No Event
10 1996-11-01 22:00:00      68  1009.0         0.0  0.0      NaN  No Event
11 1996-11-01 23:00:00      64  1009.0         NaN  NaN      NaN  No Event
12 1996-11-02 00:00:00  -99999     NaN         NaN  NaN      NaN       NaN
13 1996-11-02 01:00:00     NaN     NaN         NaN  NaN      NaN  No Event
14 1996-11-02 02:00:00      52  1011.0         0.0  0.0      2.0       SSW
15 1996-11-02 03:00:00      46  1012.0         0.0  0.0      3.5       WSW
16 1996-11-02 04:00:00      44  1012.0         0.0  0.0      4.5       WSW
17 1996-11-02 05:00:00      39  1012.0         0.0  0.0      5.0       WSW
18 1996-11-02 06:00:00      32  1011.0         0.0  0.0      6.0      West
19 1996-11-02 07:00:00      29  1010.0         0.0  0.0      7.0       WSW

In [341]:
new_df = df.replace({
        'Fog': '[A-Za-z]'
    },'',regex=True)
new_df

                        Fog     Hail  Heatindexm  Hum  Precipm Pressurem
EST
1996-11-01 11:00:00     27    1010.0         0.0  0.0      5.0      West
1996-11-01 12:00:00      32 -99999.0         0.0  0.0      NaN     North
1996-11-01 13:00:00      44 -99999.0         0.0  0.0      NaN     North
1996-11-01 14:00:00      41   1010.0         0.0  0.0      2.0     North
1996-11-01 16:00:00      47   1011.0         0.0  0.0      1.2     North
1996-11-01 17:00:00      56   1011.0         0.0  0.0      NaN     North
1996-11-01 18:00:00      60   1010.0         0.0  0.0      0.8     North
1996-11-01 19:00:00      60 -99999.0         0.0  0.0      NaN     North
1996-11-01 20:00:00      68 -99999.0         0.0  0.0      NaN     North
1996-11-01 21:00:00      68   1010.0         0.0  NaN      NaN     North
1996-11-01 22:00:00      68   1009.0         0.0  0.0      NaN     North
1996-11-01 23:00:00      64   1009.0         NaN  NaN      NaN     North
1996-11-02 00:00:00  -99999      NaN         NaN  NaN      NaN       NaN
1996-11-02 01:00:00     NaN      NaN         NaN  NaN      NaN     North
1996-11-02 02:00:00      52   1011.0         0.0  0.0      2.0       SSW
1996-11-02 03:00:00      46   1012.0         0.0  0.0      3.5       WSW
1996-11-02 04:00:00      44   1012.0         0.0  0.0      4.5       WSW
1996-11-02 05:00:00      39   1012.0         0.0  0.0      5.0       WSW
1996-11-02 06:00:00      32   1011.0         0.0  0.0      6.0      West
1996-11-02 07:00:00      29   1010.0         0.0  0.0      7.0       WSW

In [310]:
# mapping
df_new = pd.DataFrame({
    'score': ['Avg','Exl','Poor','Avg','Poor','excep','Exl','Avg'],
    'names': ['AA','BB','CC','DD','EE','FF','GG','HH']
})
df_new = df_new.replace(['Exl','excep','Avg','Poor'], [1,2,3,4])
df_new

  names  score
0    AA      3
1    BB      1
2    CC      4
3    DD      3
4    EE      4
5    FF      2
6    GG      1
7    HH      3